<!-- taskCard.html -->
<article class="task-card">
    <div class="task-content">
        <h3 class="task-name">Task Name:</h3>
        <p class="task-description">Description:</p>
        <div class="task-meta">
            <span class="task-due-date">Due Date:</span>
            <br>
            <span class="task-duration">Duration:</span>
            <br>
            <span class="task-type" style="display: none;">Type:</span>
            <span class="task-priority">Priority:</span>
        </div>
    </div>
    <div class="task-actions">
        <!-- Buttons will be added dynamically -->
    </div>
</article>