<!-- taskForm.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/css/styles.css">
    <!-- Remove jQuery and jQuery UI CSS -->
</head>
<body>
    <!-- Modal content -->
    <div class="modal" id="addTaskModal">    
        <form id="task-form" class="task-form" method="POST">
            <span class="close-button" id="close-task-form-modal">&times;</span>
            <h2 id="task-form-title">Add a new task</h2>
            <div class="form-group">
                <input type="text" id="task-name" name="task-name" placeholder="Task title" required>
            </div>
            <div class="form-group">
                <input type="text" id="task-description" name="task-description" placeholder="Task description">
            </div>
            <div class="form-group">
                <input type="number" id="duration-input" name="duration-input" min="1" step="1" placeholder="Duration (minutes)" required>
                <button class="btn-secondary" type="button" id="duration-toggle">Minutes</button>
            </div>
            <div class="form-group">
                <input type="text" id="datepicker" name="datepicker" class="datepicker" autocomplete="off" placeholder="Select date" required>
            </div>
            <button type="submit" id="submit-task-form-btn" class="btn-create">Create Task</button>
        </form>
    </div>
</body>
</html>
